<div class="container h-600 mt-5">
  <div class=row>
    <div class="col-6">
      <h3> <%= @event.name %></h3>
      <% @event.participants.each do |p| %>
        <%= p.name %>
      <% end %>
      <%= link_to "Sorting", event_sorting_participants_path(@event) %>

    </div>
    <div class="col-6">
      <h3>Invite a new participant </h3>
        <%= simple_form_for @participant do |f| %>
          <%= f.input :name %>
          <%= f.input :mail %>
          <%= f.button :submit %>
        <% end %>
    </div>

  </div>
</div>
